@import 'vars';

.page_404 {
    padding: 40px 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    display: grid;
    place-items: center;
}
.container {
    width: 600px;
    height: 600px;
}
.container-title {
    width: 600px;
    height: 100px;
    position: relative;
}
.title-error {
    font-size: 80px;
    text-align: center;
    color: var(--black);
    margin: 10px, 0;
}
.image {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;
}
.image img {
    width: auto;
}

/*.four_zero_four_bg {
    
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/
.contant_box_404 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.four_zero_four_bg h2 {
    font-size: 80px;
}
.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}
